  <div>
    <md-toolbar color="primary">
      <div>
        <h5>MİZANPAJ APP</h5>
      </div>
    </md-toolbar>
    <p>
    <section>
    <button md-raised-button color="primary" class="md-button">KIRP</button>
    <button md-raised-button color="warn" class="md-button">İPTAL</button>
  </section>
</div>

<div style="width:100%;"> 
        <div style="float:left; margin: 10px; display:inline-block;" class="leftCanvas">
          <canvas id="c" width="1190px" height="842px" style="border:1px solid #000"></canvas>
          </div> 
        <div style="float:right; margin: 10px; display:inline-block;" class="rightCanvas">
          <canvas id="c" width="595px" height="842px" style="border:1px solid #000"></canvas>
          </div> 
    </div> ​